* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body {
	background-image: url("../img/bg.jpg");
	background-repeat: repeat-x;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-weight: 500;	
	font-size: 1.05em;
	font-family: "Microsoft YaHei", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#bgCanvas {
	position: absolute;
	z-index: -1;
}

#title {
	text-align: center;
	margin-top: 100px;
}

#managerPower {
	width: 90%;
	background: #f0f0f0;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    margin-bottom: 25px;
    transition: all 0.3s ease 0s;
    margin-right: -15px;
    margin-left: -15px;
}



.form-bg {
	padding: 2em 0;
}

.form-horizontal {
	background: #fff;
	padding-bottom: 40px;
	border-radius: 15px;
	text-align: center;
}

.form-horizontal .heading {
	display: block;
	font-size: 35px;
	font-weight: 700;
	padding: 35px 0;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
}

.form-horizontal .form-group {
	padding: 0 40px;
	margin: 0 0 25px 0;
	position: relative;
}

.form-horizontal .form-control {
	background: #f0f0f0;
	border: none;
	border-radius: 20px;
	box-shadow: none;
	padding: 0 20px 0 45px;
	height: 40px;
	transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
	background: #e0e0e0;
	box-shadow: none;
	outline: 0 none;
}

.form-horizontal .form-group i {
	position: absolute;
	top: 12px;
	left: 60px;
	font-size: 17px;
	color: #c8c8c8;
	transition: all 0.5s ease 0s;
}

.form-horizontal .form-control:focus+i {
	color: #00b4ef;
}

.form-horizontal .fa-question-circle {
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 60px;
	font-size: 20px;
	color: #808080;
	transition: all 0.5s ease 0s;
}

.form-horizontal .fa-question-circle:hover {
	color: #000;
}

.form-horizontal .main-checkbox {
	float: left;
	width: 20px;
	height: 20px;
	background: #11a3fc;
	border-radius: 50%;
	position: relative;
	margin: 5px 0 0 5px;
	border: 1px solid #11a3fc;
}

.form-horizontal .main-checkbox label {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.form-horizontal .main-checkbox label:after {
	content: "";
	width: 10px;
	height: 5px;
	position: absolute;
	top: 5px;
	left: 4px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;
	background: transparent;
	opacity: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.form-horizontal .main-checkbox input[type=checkbox] {
	visibility: hidden;
}

.form-horizontal .main-checkbox input[type=checkbox]:checked+label:after {
	opacity: 1;
}

.form-horizontal .text {
	float: left;
	margin-left: 7px;
	line-height: 20px;
	padding-top: 5px;
	text-transform: capitalize;
}

.form-horizontal .btn {
	width: 60%;
	font-size: 14px;
	color: #fff;
	background: #00b4ef;
	border-radius: 30px;
	padding: 10px 25px;
	border: none;
	text-transform: capitalize;
	transition: all 0.5s ease 0s;
}

@media only screen and (max-width: 479px) {
	.form-horizontal .form-group {
		padding: 0 25px;
	}
	.form-horizontal .form-group i {
		left: 45px;
	}
	.form-horizontal .btn {
		padding: 10px 20px;
	}
}


.banner {
  width: 800px;
  height: 100px;
  border: 0px dotted cyan;
  position: relative;
  transform-style: preserve-3d;
  transform: var(--transform);
  --transform: scale(1);
  display: none;
}
.banner {
  display: flex;
  justify-content: space-between;
}
.flag {
  display: flex;
  height: 70px;
  width: 45px;
  background: hsl(var(--hue,43), 90%, 55%);
  color: hsl(43, 90%, var(--text,5%));
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  transform-origin: 50% 0%;
  
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.string {
  display: none;
}
.flag:nth-of-type(odd) {
  --hue: 343;
  --text: 95%;
}
.banner:nth-of-type(even) .flag:nth-of-type(even) {
  --hue: 333;
}
.banner:nth-of-type(even) .flag:nth-of-type(odd) {
  --hue: 193;
}
.banner:nth-of-type(3) .flag:nth-of-type(odd) {
  --hue: 33;
}
.banner:nth-of-type(3) .flag:nth-of-type(even) {
  --hue: 173;
}

@supports (offset-path: path('M0,0 C100,100 700,200 800,100')) {
	.banner {
		height: 230px;
	}

	.banner:nth-of-type(even) {
		--transform: rotate(0deg);
	}

	.banner:nth-of-type(2) {
		--transform: scaleX(-1) rotate(-8deg);
	}

	.banner:nth-of-type(1) {
		--transform: rotate(-4deg);
	}

	.flag:not(.string) {
		position: absolute;
		offset-anchor: 50% 0%;
		offset-path: path('M0,0 C100,100 700,200 800,100');
	}

	.string, .string svg {
		position: absolute;
		width: 800px;
		top: 0;
		left: 0;
		height: 230px;
		display: block;
		background: transparent;
		clip-path: none;
	}

	.string path {
		stroke: hsla(183, 20%, 30%, .3);
		stroke-width: 1px;
		d: path('M0,0 C100,100 700,200 800,100');
	}
}